# EXERCISE: Smart Beta and Factor Investing

# Part 2: The Factors
Data
- Use the data found in data/factor_pricing_data.xlsx.

Factors: Monthly excess return data for the overall equity market, 
.

- The column header to the market factor is MKT rather than MKT-RF, but it is indeed already in excess return form.

- The sheet also contains data on five additional factors.

- All factor data is already provided as excess returns

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load the Excel sheet (check which sheet name contains factor data)
df = pd.read_excel("data/factor_pricing_data_monthly.xlsx", sheet_name="factors (excess returns)")
df.head()

        Date     MKT     SMB     HML     RMW     CMA     UMD
0 1980-01-31  0.0550  0.0188  0.0185 -0.0184  0.0189  0.0745
1 1980-02-29 -0.0123 -0.0162  0.0059 -0.0095  0.0292  0.0789
2 1980-03-31 -0.1289 -0.0697 -0.0096  0.0182 -0.0105 -0.0958
3 1980-04-30  0.0396  0.0105  0.0103 -0.0218  0.0034 -0.0048
4 1980-05-31  0.0526  0.0200  0.0038  0.0043 -0.0063 -0.0118

In [3]:
# Prepare the data
df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date', inplace=True)

# Select factor columns (example names)
factors = ['MKT', 'SMB', 'HML', 'RMW', 'CMA', 'UMD']  # adjust names if needed
factors_df = df[factors]
factors_df

               MKT     SMB     HML     RMW     CMA     UMD
Date
1980-01-31  0.0550  0.0188  0.0185 -0.0184  0.0189  0.0745
1980-02-29 -0.0123 -0.0162  0.0059 -0.0095  0.0292  0.0789
1980-03-31 -0.1289 -0.0697 -0.0096  0.0182 -0.0105 -0.0958
1980-04-30  0.0396  0.0105  0.0103 -0.0218  0.0034 -0.0048
1980-05-31  0.0526  0.0200  0.0038  0.0043 -0.0063 -0.0118
...            ...     ...     ...     ...     ...     ...
2025-04-30 -0.0084 -0.0186 -0.0340 -0.0285 -0.0267  0.0497
2025-05-31  0.0606 -0.0072 -0.0288  0.0126  0.0251  0.0221
2025-06-30  0.0486 -0.0002 -0.0160 -0.0319  0.0145 -0.0264
2025-07-31  0.0198 -0.0015 -0.0127 -0.0029 -0.0207 -0.0096
2025-08-31  0.0185  0.0488  0.0441 -0.0069  0.0207 -0.0354

[548 rows x 6 columns]

## 1.
Analyze the factors, similar to how you analyzed the three Fama-French factors in Homework 4.

You now have three additional factors, so let’s compare there univariate statistics.

- mean

- volatility

- Sharpe

In [4]:
# Calculate statistics
stats = pd.DataFrame({
    'Mean (monthly)': factors_df.mean(),
    'Volatility (monthly)': factors_df.std(),
    'Sharpe (monthly)': factors_df.mean() / factors_df.std(),
})

# Optional annualization
annualized = pd.DataFrame({
    'Mean (annual)': factors_df.mean() * 12,
    'Volatility (annual)': factors_df.std() * np.sqrt(12),
    'Sharpe (annual)': (factors_df.mean() * 12) / (factors_df.std() * np.sqrt(12))
})

print("Monthly Statistics:")
display(stats.round(4))
print("\nAnnualized Statistics:")
display(annualized.round(4))

Monthly Statistics:

     Mean (monthly)  Volatility (monthly)  Sharpe (monthly)
MKT          0.0073                0.0451            0.1619
SMB          0.0005                0.0292            0.0174
HML          0.0022                0.0314            0.0691
RMW          0.0037                0.0239            0.1533
CMA          0.0024                0.0209            0.1127
UMD          0.0050                0.0443            0.1135

Annualized Statistics:

     Mean (annual)  Volatility (annual)  Sharpe (annual)
MKT         0.0876               0.1561           0.5607
SMB         0.0061               0.1013           0.0604
HML         0.0260               0.1088           0.2392
RMW         0.0440               0.0829           0.5311
CMA         0.0283               0.0725           0.3903
UMD         0.0603               0.1534           0.3933

- The Market factor (MKT) shows the highest mean excess return and Sharpe ratio, consistent with overall market risk premia.
- Among the style factors, Momentum (UMD) offers relatively high returns but also higher volatility.
- Profitability (RMW) and Investment (CMA) exhibit lower volatility and moderate Sharpe ratios, consistent with Fama-French 5-factor theory.
- Size (SMB) tends to have lower mean returns and Sharpe ratios, while Value (HML) shows mixed performance post-2000s.

## 2.
Based on the factor statistics above, answer the following.

Does each factor have a positive risk premium (positive expected excess return)?

How have the factors performed since the time of the case, (2015-present)?

In [5]:
# Check sign of mean monthly excess returns
factors_df.mean().sort_values(ascending=False)

MKT    0.007296
UMD    0.005026
RMW    0.003671
CMA    0.002357
HML    0.002170
SMB    0.000510
dtype: float64

Each factor’s mean excess return is positive, implying that all six factors delivered a positive risk premium on average during the sample period — though the magnitude varies substantially across factors.

- MKT (Market) has the largest risk premium (~0.73% per month), as expected for broad equity exposure.

- UMD (Momentum), RMW (Profitability), and CMA (Investment) also show clearly positive premia, consistent with well-documented factor effects.

- HML (Value) and SMB (Size) have small but still positive mean excess returns, indicating weaker risk compensation but not negative performance in this dataset.

In [7]:
# Analyze performance since 2015
recent = factors_df[factors_df.index >= "2015-01-01"]

recent_stats = pd.DataFrame({
    'Mean (annual)': recent.mean() * 12,
    'Volatility (annual)': recent.std() * np.sqrt(12),
    'Sharpe (annual)': (recent.mean() * 12) / (recent.std() * np.sqrt(12))
})

display(recent_stats.round(4))

     Mean (annual)  Volatility (annual)  Sharpe (annual)
MKT         0.1179               0.1574           0.7491
SMB        -0.0238               0.1032          -0.2305
HML        -0.0163               0.1299          -0.1255
RMW         0.0400               0.0726           0.5509
CMA        -0.0091               0.0821          -0.1114
UMD         0.0201               0.1374           0.1464

- Since 2015, only the Market and Profitability factors have provided strong positive risk premia, while Size, Value, and Investment have turned negative. 

- Momentum remains modestly positive but less consistent. 

- This pattern reflects the dominance of large, profitable growth firms and the relative weakness of traditional value and size premiums in the post-2015 period.

## 3.
Report the correlation matrix across the six factors.

Does the construction method succeed in keeping correlations small?

Fama and French say that HML is somewhat redundant in their 5-factor model. Does this seem to be the case?

In [9]:
# Correlation matrix
corr = factors_df.corr()
corr.round(2)

      MKT   SMB   HML   RMW   CMA   UMD
MKT  1.00  0.23 -0.21 -0.25 -0.35 -0.18
SMB  0.23  1.00 -0.02 -0.41 -0.05 -0.06
HML -0.21 -0.02  1.00  0.22  0.68 -0.22
RMW -0.25 -0.41  0.22  1.00  0.14  0.08
CMA -0.35 -0.05  0.68  0.14  1.00  0.00
UMD -0.18 -0.06 -0.22  0.08  0.00  1.00

- Overall, the factor construction succeeds in keeping correlations reasonably small.

- This low to moderate correlation structure indicates that the factor design largely achieves its goal of minimizing redundancy and multicollinearity.

- The factor construction overall keeps correlations small, ensuring most factors represent independent risk dimensions. 
- However, HML shows significant overlap with CMA (and to a lesser extent RMW), confirming Fama and French’s observation that the Value factor becomes largely redundant in the 5-factor specification.

## 4.
Report the tangency weights for a portfolio of these 6 factors.

Which factors seem most important? And Least?

Are the factors with low mean returns still useful?

Re-do the tangency portfolio, but this time only include MKT, SMB, HML, and UMD. Which factors get high/low tangency weights now?

What do you conclude about the importance or unimportance of these styles?

In [10]:
mu = factors_df.mean().values       # mean monthly excess returns
cov = factors_df.cov().values       # covariance matrix

In [11]:
# compute tangency weights (sum to 1)
inv_cov = np.linalg.inv(cov)
w = inv_cov @ mu
w = w / w.sum()

In [12]:
# Report tangency weights
tangency_weights = pd.Series(w, index=factors_df.columns)
tangency_weights

MKT    0.218650
SMB    0.066849
HML   -0.021212
RMW    0.301829
CMA    0.321431
UMD    0.112453
dtype: float64

More Important Factors


- CMA (Investment) and RMW (Profitability) receive the largest weights, meaning they contribute most to the tangency (maximum-Sharpe) portfolio. These factors have strong standalone Sharpe ratios and moderate correlations with MKT.

- MKT and UMD also receive meaningful positive weights, showing they remain essential risk premia sources.

Less Important Factors

- SMB has only a small positive weight, showing limited impact (the size effect is weak in modern data).

- HML has a negative weight, implying it hurts portfolio efficiency — consistent with its negative mean return and high correlation with CMA.

In [13]:
# 4. Subset Analysis
subset = ['MKT', 'SMB', 'HML', 'UMD']
mu_sub = factors_df[subset].mean().values
cov_sub = factors_df[subset].cov().values

In [15]:
# compute tangency weights (sum to 1)
inv_cov_sub = np.linalg.inv(cov_sub)
w_sub = inv_cov_sub @ mu_sub
w_sub = w_sub / w_sub.sum()

pd.Series(w_sub, index=subset)

MKT    0.376514
SMB   -0.051198
HML    0.365321
UMD    0.309363
dtype: float64

High-weight factors:

- MKT, HML, and UMD dominate the tangency portfolio.

- MKT provides the core market risk premium.

- HML (Value) regains relevance here because, without RMW and CMA, it captures part of the same firm-fundamental effects those omitted factors previously explained.

- UMD adds diversification and improves Sharpe ratio via low correlation and consistent positive returns.

Low-weight (unimportant) factor:

- SMB (Size) remains negligible or negative, showing that small-cap exposure adds little benefit in the modern (2015-present) data.

Conclusions

- When the full 6-factor set is used, CMA and RMW absorbed much of HML’s explanatory power — making Value redundant.

- Once those two are removed, HML’s weight increases, indicating it still represents an underlying dimension of return that matters if Profitability and Investment factors are unavailable.

- Momentum (UMD) remains consistently important, reinforcing its robustness as a style factor.

- Size (SMB) continues to be unimportant or counterproductive, consistent with the weak small-cap premium in the post-2015 era.

# Part 3: Testing Modern LPMs
Consider the following factor models:

CAPM: MKT

Fama-French 3F: MKT, SMB, HML

Fama-French 5F: MKT, SMB, HML, RMW, CMA

AQR: MKT, HML, RMW, UMD